#output{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#output div{
    width: 128px;
    border-width: 3px;
    border-style: solid;
    border-color: teal;
    padding: 2px;
}

li span{
  display: block;
}

#output img{
    width: 50px;
    height: 50px;
}

#request{
    background-color: teal;
    border-color: red;
}

.header{
    text-align: center;
    background-color: lightslategrey;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

.footer {
    height: 112px; /* .push must be the same height as .footer */
    text-align: center;
    background-color: lightslategrey;
}

.push {
    height: 112px;
}

